<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VideoCaptureDemo.Properties.Settings.mtsConnectionString"
           
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
